*.user
*.pyd
*.db
libs/
.vs/
x64/
Loader/Debug/
tests/tests.cmd
*.log
*.txt
tmp/
tests/*.json
*.db-journal
*.id0
*.id1
*.id2
*.idb
*.nam
*.til
tests/current/
tests/__pycache__/util.cpython-38.pyc
tests/examples/EPSIMP32-2006.1200.4518.1014/EPSIMP32.FLT
tests/examples/EPSIMP32-2006.1200.4518.1014/EPSIMP32.pdb
tests/examples/EPSIMP32-2006.1200.6731.5000/EPSIMP32.FLT
tests/examples/EPSIMP32-2006.1200.6731.5000/EPSIMP32.pdb
*.pyc
packages/
*.h.un~
